*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
body{
  font-family: 'Poppins',sans-serif;
}
.container{
  max-width: 1516px;
  margin: 0px auto;
  display: flex;
  justify-content: center;
  align-items: center;
height: 100vh;
}
.img-part{
  width: 50%;
}
.img-part img{
  width: 90%;

}
.login-part{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 30%;
  margin: 120px 80px 15px 80px;

}
.login-part h4{
    font-size: 15px;
    display: block;
}
.login-part input{
  width: 100%;
  height: 40px;
  margin: 10px 0 20px 0;
  border-radius: 5px;
  border: 1px solid #D3D3D3;
}
input::placeholder{
  color: #D3D3D3;
  padding: 0 30px;
}
.title{
  padding-bottom:  50px;
  font-size: 50px;
}
.input-icon{
  position: relative;
}
.icon-email{
  bottom: 45% ;
  left: 13px;
}
.icon-password{
  bottom: 49% ;
  left: 13px;
  fill: #D3D3D3;
}
.input-icon svg{
  position: absolute;
}
.show-password{
bottom: 45%;
right: 7px;
}
.hide-password{
  bottom: 45%;
  right: 27px;
}
.email-address{

}
.email-input{

}
.password{

}
.password-input{

}
.signin-btn{
  width: 100%;
  height: 40px;
  background: #232323;
  color: #fff;
  border-radius: 5px;
  margin: 20px 0 6px 0;
}
.others{
display: flex;
justify-content: space-between;
align-items: center;

font-size: 12px;
margin-bottom: 25px;
}
.others a{
  color: #232323;
}
.forget{
 
}
.signup{

}
.line-or{
  display: flex;
  flex-direction: row;
  margin: 10px 30px;
  text-align: center;
  color: #D3D3D3;
}
.line-or::before,
.line-or::after{
  content: "";
  flex: 1 1 ;
  border-bottom: 2px solid #D3D3D3;
  margin: auto 8px;
  width: 20%;


}
.wallet{
  position: relative;
}
.wallet-svg{
  position: absolute;
  top: 55%;
  left: 33%;
}
.login-wallet-btn{
  width: 100%;
  height: 40px;
  background: #232323;
  color: #fff;
  border-radius: 5px;
  margin-top: 30px;
}
.footer{
display: flex;
justify-content: center;
align-items: center;
font-size: 10px;
margin-top: 80px;
}
.footer a{
  color: #232323;
  text-decoration: none;

}
.terms{

}
.circle{
width: 7px;
height: 7px;
background: #232323;
border-radius: 100%;
margin: 0 3px;
}
.privacy{

}


@media (max-width: 1270px) {
  .wallet-svg{
    left: 30%;
  }
  .img-part img {
    width: 100%;
}
  .login-part {
    margin: 80px 80px 15px 80px;
}
  .footer{
    margin-top: 60px;
    }
}
@media (max-width: 1050px) {
  .wallet-svg{
    left: 27%;
  }

}
@media (max-width: 930px) {
  .login-part h1{
    font-size: 45px;
    padding-bottom: 30px;
  }    
  .footer{
    margin-top: 20px;
    }
    .login-wallet-btn{
      margin-top: 10px;
    }
    .wallet-svg{
      top: 38%;
      left: 20%;
    }
    .others{
      margin-bottom: 10px;
      }
      .signin-btn{
        margin: 10px 0 4px 0;
      }
}
@media (max-width: 700px) {
  .img-part img{
    display: none;
  }
  .login-part{
    width: 300%;
    margin: 130px;
  }
}
@media (max-width: 510px) {
  .img-part img{
    display: none;
  }
  .login-part{
    width: 100vw;
    margin: 130px;
  }
}
